body{
    font-family: "Protest Riot", sans-serif;
}

header {
    background-color: rgb(255, 255, 147);
    text-align: center;
}

header h1{
    color: rgb(162, 25, 25);
    padding: 0.5em;
    font-size: 3em;
}